@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;900&display=swap');

.ourlogo {
    width: 128px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

/* Overwrite poole css lead description */
.lead {
  font-size: 1rem;
  font-weight: 300;
}

/* Overwrite hyde css h1 for the sidebar description */
.sidebar-about h1 {
  color: #fff;
  margin-top: 0;
  font-size: 2rem;
}

.post_image {
    height: 480px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.post_image_not_set_size {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.post_image_wide {
    max-width: 150%;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.with_border {
   padding:5px;
   border:1px solid #021a40;
}

.post > p {
  text-align: justify;
  text-justify: inter-word;
}
