.ourlogo {
    width: 128px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

/* Overwrite poole css lead description */
.lead {
  font-size: 1rem;
  font-weight: 300;
}

/* Overwrite hyde css h1 for the sidebar description */
.sidebar-about h1 {
  color: #fff;
  margin-top: 0;
  font-family: "Abril Fatface", serif;
  font-size: 2rem;
}

.post_image {
    height: 480px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.with_border {
   padding:5px;
   border:1px solid #021a40;
}
